[submodule "plugins/firfilt"]
	path = plugins/firfilt
	url = https://github.com/widmann/firfilt.git
[submodule "plugins/dipfit"]
	path = plugins/dipfit
	url = https://github.com/sccn/dipfit.git
[submodule "plugins/bids-matlab-tools"]
	path = plugins/bids-matlab-tools
	url = https://github.com/BUCANL/bids-matlab-tools.git
